/* 
 h5 {
    margin-top: 150px;
    margin-left: 0px;
    font-size: 50px;
    text-align: center;
    color: var(--primary-color);;
    letter-spacing: 1.5px;
  }

  h1 {
    margin-top: 550px;
    margin-left: 0px;
    font-size: 50px;
    text-align: center;
    color: var(--primary-color);
    letter-spacing: 1.5px;
  
  }

  @media only screen and (max-width: 1000px) {
    h1 {
      text-align: center;
      font-size: 30px;
      margin-top: 500px;
    }
  }
  
 
  
  .container3 {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1200px;
    align-items: center;
    padding-top: 50px;
  }
  
  @media only screen and (max-width: 1000px) {
    .container3 {
      display: block;
         margin-left: 100px;
      width: 10px;
      height: 100%;
      align-items: start;
      padding-top: 50px;
    }
  }
  
  .box {
    width: 250px;
    height: 300px;
    overflow: hidden;
    background: linear-gradient(145deg,
        #e6e6e6 0,
        #ffffff,
      );
    border-radius: 14px;
    box-shadow: 8px 8px 16px #d1d1d1,
      -8px -8px 16px #ffffff;
    cursor: pointer;
    animation:
      1s ease-in-out 0s 1 slideInFromRight;
    margin: 0 auto;
    padding: 50px;
   align-items: center;  Hizalama ayarı 

  }

  @media only screen and (max-width: 1000px) {
    .box {
      width: 250px;
      height: 300px;
      padding: 5px;
      background-size: contain;
      display: block;
      margin: 40px auto;
      align-items: start;
    }
  }
  
  .icons {
    font-size: 50px;
    margin-top: 10px;
    color: var(--primary-color);;
  }
  
  .box:hover .icons {
    margin-top: 0;
    color: #fff;
  }
  
  .box h2 {
    font-weight: 600;
    margin-top: 20px;
  }
  @media only screen and (max-width: 1000px) {
    .box h2 {
      font-size: 15px;
      background-size: contain;
      display: block;
      margin: 30px auto;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    .box p {
  
      font-size: 15px;
      font-weight: normal;
      display: block;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    .icons {
      font-size: 80px;
      margin-top: 20px;
    }
  }


  @media only screen and (max-width: 1000px) {
    .open-positions {
      justify-content: flex-start;
    }
  
    .position-box {
      width: calc(50% - 40px);
      margin: 20px;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    .position-box {
      width: 100%;
      margin: 20px;
    }
  }
   
  
   */

   .my-icon{
    font-size: 35px;
    color: #245b8c;
    margin-top: 20px;
  }

  .service-box:hover .icons {
    margin-top: 0;
    color: #fff;
  }
  
  .service-box h2 {
    font-weight: 600;
    margin-top: 20px;
  }
  
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  .service-box:hover {
    box-shadow: 0 0 20px #9ca4ab;
    transform: translateY(-5px);
  }

h1{
  margin-top: 60vh;
}

  
  .services {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    /*margin-top: 60vh;  Yüzde 10 oranında sayfa yüksekliği */
  }
  

  .services > div {
margin: 60px;
}
.service-box {
  width: 300px;
  height: 350px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 30px;
  margin:  auto;
  margin-top: 10px;
  margin-bottom: 50px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  background: linear-gradient(145deg,
        #e6e6e6 0,
        #ffffff,
      );
    border-radius: 14px;
    box-shadow: 8px 8px 16px #d1d1d1,
      -8px -8px 16px #ffffff;
    cursor: pointer;
    animation:
      1s ease-in-out 0s 1 slideInFromRight;
}


@media only screen and (max-width: 1000px) {
.services {
  justify-content: flex-start;
}

.service-box {
  width: calc(50% - 40px);
  margin: 20px;
}
}

@media only screen and (max-width: 1000px) {
.service-box {
  width: 100%;
  margin: 20px;
}
}

.service-box > * {
  margin-bottom: 30px;
}

.service-title {
  font-size: 25px;
  margin-top: 0;
  font-family: 'Josefin Sans', sans-serif;
}


.service-description {
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
}



