nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
  }

  .logo{
    font-size: 30px;
    
  }
  
  #menu.hidden {
    display: none;
  }
  
  #options li {
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  
  #options a {
    color: #333;
    text-decoration: none;
  }
  
  #options a:hover {
    color: var(--primary-color);
    border-bottom: 2px solid #000;
  }
    
  
  @media only screen and (max-width: 1000px) {
    #menu {
      display: none;
    }
    #menu-toggle {
      display: block;
  
    }

  }
  
  
  
  @media only screen and (min-width: 1000px) {
    #menu {
      display: flex;
      
    }
  
    #menu-toggle {
      display: none;
    }
  }
  
  .social-media {
    display: flex;
    justify-content: flex-start;
    color: #000;
  }
  
  .social-media a {
    margin-left: 1rem;
    font-size: 1rem;
    color: black;
  }
  
  .fa {
    font-size: 1.5rem;
  }
  

  @media only screen and (max-width: 1000px) {
    .navbar {
      flex-direction: column;
      align-items: center;
    }
    .logo{
      margin-left:-180px;
    }
    #options li {
      
      font-size: 20px;
    }
    

    nav {
      display: block;
      justify-content: space-between;
      align-items: center;
      padding: 30px 30px;
    }
  
    #menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      height: 350px;/* 60px padding */
      width: 100%;
      position: absolute;
      top: 50px;
      left: 0;
      background-color: #fff;
      z-index: 1;
      opacity:1;
      pointer-events: none;
      transition: opacity 0.3s ease-in-out;
    }
  
    #menu.open {
      opacity: 1;
      pointer-events: auto;
    }
  
    #options {
      position: relative;
    }
  
    #menu-toggle {
      display: block;
      position: absolute;
      top: -30px;
      right: 0px;
      cursor: pointer;
    }
  
    #menu-toggle div {
      width: 25px;
      height: 3px;
      background-color: #333;
      margin: 5px;
      transition: transform 0.3s ease-in-out;
    }
  
    #menu-toggle div.open:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    #menu-toggle div.open:nth-child(2) {
      transform: rotate(-45deg);
    }
  
    #menu-toggle div.open:nth-child(3) {
      transform: translateY(-8px) rotate(45deg);
    }
  
    #menu li {
      margin: 10px 0;
   
    }}
  #menu-toggle:checked + .nav-links {
      left: 0;
    }

    
  
